.phone-list-paginator {
    opacity: 1;

    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
}

.phone-list-paginator.hidden {
    opacity: 0;
}

/* Centramos el paginator */
.phone-list-paginator--paginator {
    display: table;
    margin: auto;
}

.phone-list-paginator--paginator .pagination {
    margin-bottom: 30px;
}